# NextAuth Configuration
# Run `openssl rand -hex 32` or search online to generate a secure secret
NEXTAUTH_SECRET="your_nextauth_secret_here"
AUTH_SECRET="your_nextauth_secret_here" # Required by NextAuth v5 (Auth.js)
NEXTAUTH_URL="http://localhost:3000"


# Stripe Test Credentials
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
